.App-button {
    font-size: 1.3rem;
    color: white;
    background-color: #282c34;
    border: 2px solid #09d3ac;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: -1px 0px 0 4px #282c34, -6px 5px 0 2px #09d3ac;
}

.App-button:active {
    margin-left: -4px;
}