.App-Coin-label {
  height: 2rem;
  margin-bottom: -7px;
}

.App-Coin-label-symbol {
  font-size: 1.3rem;
}

.App-Coin-label-text {
  font-family: 'Super Mario World';
  font-size: 1.5rem;
}

.App-Coin-label-symbol,
.App-Coin-label-text {
  text-shadow: -4px 0 #1c1c1c, 0 4px #1c1c1c, 4px 0 #1c1c1c, 0 -4px #1c1c1c;
  color: #c4d4a4;
}
