.limit-container {
  margin-bottom: 3rem;
  width: 20%;
  margin-left: 41%;
}

.limit-sentence {
  color: white;
  font-size: 1.4rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 50em) {
  .limit-container {
    width: 45%;
    margin-left: 29%;
  }

  .limit-sentence {
    color: white;
    font-size: 1.3rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 36em) {
  .limit-container {
    width: 73%;
    margin-left: 16%;
  }
}

@media only screen and (max-width: 18em) {
  .limit-container {
    width: 90%;
    margin-left: 7%;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 15em) {
  .limit-container {
    width: 100%;
    margin-left: 0%;
  }
}
