.App-Mistery-Block {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
  height: 9rem;
}

.App-Mistery-Block-Btn {
  transition: margin-top 0.2s;
  margin-top: 14rem;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.App-Mistery-Block-Btn.margin-top {
  margin-top: 12rem;
}
