.App-Mistery-Block {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
  transition: margin-top 0.2s;
  margin-top: 14rem;
  height: 9rem;
}

.App-Mistery-Block.margin-top {
  margin-top: 12rem;
}
